.background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-image: url("../../img/background.jpg");
    position: relative;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
} 


@media (max-width:1000px) {
    .background {
        padding: 0 50px;
    }
}


@media (max-width:600px) {
    .background {
        padding:0 30px;
    }
}

@media (max-width:600px) {
    .background {
        padding: 0 20px;
    }
}