
@import "../../scssGlobalStyles/variables/variables.scss";

.info-message {
    font-family: radiance,serif;
    font-size: 75px;
    color: $text-color-white;
    text-align: center;
    margin-top: 17vw;
}


.wrapper-flex {
    min-height: 100%;
    width: 100%;
    color: $text-color-white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}