@import "../../../styles/variables.scss";

@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-appear {
  animation: slide-up 1.5s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-90px) rotate(270deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(270deg);
    opacity: 1;
  }
}

.animation-slide-down {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slide-down;
}

@keyframes slide-move-right {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-move-right {
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slide-move-right;
}

@keyframes opacity-background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-animation {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: opacity-background;
}

.background-line {
  width: 150%;
  height: 650px;
  background-color: $bc-line-black;
  position: absolute;
  transform: skewY(-45deg) translateX(-50vw);
  overflow: hidden;
  z-index: 10;
}

.wrapper-top-skills-bar {
  position: absolute;
  right: 140px;
  bottom: 80px;
  width: fit-content;
  min-height: 0;
  display: flex;
  flex-direction: column;
  z-index: 20;

  .title-abilities {
    color: $text-color-white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 18px;
  }

  .wrapper-talents-abilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.wrapper-hero-video {
  position: absolute;
  width: 80%;
  height: 100%;
  right: -5%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: flex-start;
  top: -8%;
  z-index: 10;

  .hero-video {
    width: 100%;
    min-height: 100%;
    max-width: 1500px;
    mask-image: linear-gradient(to top, transparent 10%, black 50%);
  }
}

.background-fade-bottom {
  position: absolute;
  background: linear-gradient(
    rgb(0 0 0 / 0%) 70%,
     rgb(0 0 0 / 73.3%) 100%
  );
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.hero-description {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 85vh;
  min-height: 700px;
  padding: 0 0 0 120px;
  font-family: radiance, "Noto Sans", sans-serif;

  .hero-vertical-bar {
    width: 2000px;
    height: 50px;
    position: absolute;
    left: 115px;
    bottom: 190px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: rotate(270deg);
    transform-origin: bottom left;

    .attr-img-bar {
      width: 22px;
      height: 22px;
    }

    .name-of-hero-bar {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 17px;
      font-weight: 600;
      margin-left: 12px;
      font-family: reaver, serif;
    }

    .hero-id {
      color: $hero-id-gray;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-left: 10px;
      transform: translateY(-2px);
    }

    .vertical-line-bar {
      flex-grow: 1;
      height: 2px;
      background-color: $medium-gray;
      margin: 0 8px 3px;
    }
  }

  .description {
    margin-top: 150px;
    margin-left: 30px;
    width: 35%;
    height: calc(90% - 100px);
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  .attribute {
    display: flex;
    gap: 10px;
    align-items: center;

    .attr {
      color: $text-color-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 24px;
    }
  }

  .name-of-hero {
    font-family: reaver, serif;
    line-height: 110%;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .short-description {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $sky-blue;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 1100px) {
  .hero-description {
    padding: 0 10px;

    .description {
      width: 90%;
      margin-top: 0;
      position: absolute;
      bottom: 110px;
      height: calc(38% - 100px);
    }
    .name-of-hero {
      font-size: 3.75rem;
    }

    .wrapper-hero-video {
      width: 60%;
      height: 60%;
      right: 19%;
      top: 5%;
    }

    .wrapper-top-skills-bar,
    .hero-vertical-bar {
      display: none;
    }
  }
}

@media (max-width: 840px) {
  .hero-description {
    .name-of-hero {
      font-size: 25px;
      margin-top: 0;
    }

    .short-description {
      font-size: 14px;
    }
  }
}

@media (max-width: 550px) {
  .hero-description {
    .description {
      bottom: 225px;
    }
  }
}
