@import "../../../styles/variables.scss";


ul {
  margin: 0;
}

.hidden-block {
  display: none;
}

.wrapper-attrs-rol-stat {
  width: 100%;
  height: fit-content;
  min-height: 221px;
  background: linear-gradient(80deg, $start-bc-color 0%, $finish-bc-color 100%);
  border-top: 2px solid $border-top-black-color;
  border-bottom: 2px solid $border-bottom-black-color;
  box-shadow: 0 0 8px  $black;
  display: flex;
  justify-content: center;
  z-index: 2;

  .attrs-rols-stat {
    width: 100%;
    max-width: 1600px;
    padding: 20px 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .title-block {
      color: $title-color-gray;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 1px 1px 2px  $black;
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 18px;
      font-family: radiance, "Noto Sans", sans-serif;
    }

    .attrs {
      min-width: 300px;
      width: 30%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wrapper-hero-attrs {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;

        .hero-block {
          width: 150px;
          height: 135px;
          min-height: 0;
          display: flex;
          flex-direction: column;

          .hero-small-icon {
            width: 150px;
            height: 84px;
          }

          .hero-hp {
            width: 150px;
            height: 22px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: linear-gradient(to right, $regeneration-hp, $regeneration-hp-bc);
            position: relative;
            font-family: radiance, serif;

            .hero-quantity-hp {
              display: block;
              position: absolute;
              width: 100%;
              text-align: center;
              color: $text-color-white;
              font-size: 15px;
              text-shadow: 1px 1px 2px  $black;
              font-weight: 800;
            }

            .regeneration-hp {
              display: block;
              color: $regeneration-hp;
              flex-grow: 1;
              text-align: right;
              font-size: 10px;
              padding-right: 16px;
              font-weight: bold;
            }
          }

          .hero-mana {
            width: 150px;
            height: 22px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: linear-gradient(to right, $hero-mana, $hero-mana-bc);
            position: relative;
            font-family: radiance, serif;

            .hero-quantity-mana {
              position: absolute;
              width: 100%;
              text-align: center;
              color: $text-color-white;
              font-size: 15px;
              text-shadow: 1px 1px 2px  $black;
              font-weight: bold;
            }

            .regeneration-mana {
              color: $hero-mana;
              flex-grow: 1;
              text-align: right;
              font-size: 10px;
              padding-right: 16px;
              font-weight: bold;
            }
          }
        }

        .wrapper-attributes-details {
          width: 100px;
          height: 120px;
          min-height: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .hero-atr {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 4px 0;
          }

          .quantity-attr {
            color: $text-color-white;
            font-family: reaver, serif;
            font-size: 20px;
            font-weight: 600;
            text-shadow: 1px 1px 2px  $black;
            margin-left: 12px;
          }

          .attribute-gain {
            color: $attribute-text-color;
            font-size: 12px;
            text-shadow: 1px 1px 2px  $black;
            margin-left: 8px;
            flex-grow: 1;
            text-align: right;
          }
        }
      }
    }

    .line-separator {
      width: 1px;
      height: 85%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $dark-gray;
    }

    .roles {
      min-width: 250px;
      width: 30%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: radiance, "Noto Sans", sans-serif;

      .roles-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap; /* Объединение flex-direction и flex-wrap */
        align-items: center;
        justify-content: space-between;
      }

      .role-item {
        width: 30%;
        height: 32px;
        min-height: 0;
        display: flex;
        flex-direction: column;
        margin: 5px 0;
      }

      .name-of-role {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: left;
        color: $text-color-white;
      }

      .wrapper-bar {
        width: 100%;
        height: 6px;
        max-height: 6px;
        flex-grow: 1;
        margin-top: 4px;
        position: relative;

        .background {
          width: 100%;
          height: 100%;
          background-color: $gray-dark-bc;
          position: absolute;
          left: 0;
          top: 0;
        }

        .filled {
          width: 0%;
          height: 100%;
          background-color: $text-color-white;
          box-shadow: 0 0 10px $bc-color-filled, 0 0 10px $bc-color-filled;
          position: absolute;
          left: 0;
          top: 0;
          transition-property: width;
          transition-duration: 5s;
          transition-delay: 2s;
        }
      }
    }

    .stats {
      min-width: 400px;
      width: 30%;
      min-height: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: radiance, "Noto Sans", sans-serif;

      .stats-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .stats-item {
          width: 30%;
          height: 100%;
          min-height: 0;
          display: flex;
          flex-direction: column;
        }

        .title-of-stat {
          margin-top: 0;
          margin-left: 8px;
          text-align: left;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          color: $title-color-gray;
          margin-bottom: 4px;
        }

        .wrapper-stats-img-value {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 6px;
          font-size: 16px;
          text-align: left;
          gap: 7px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper-attrs-rol-stat {
    .attrs-rols-stat {
      flex-direction: column;

      .line-separator {
        width: 100%;
        height: 1px;
      }

      .title-block {
        margin: 0;
      }

      .attrs {
        flex-direction: column-reverse;
        width: 90%;

        .wrapper-hero-attrs {
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }

      .roles {
        flex-direction: column-reverse;
        width: 90%;

        .roles-list {
          margin-top: 10px;
          margin-bottom: 15px;
        }
      }

      .stats {
        flex-direction: column-reverse;
      }
    }
  }
}

@media (max-width: 450px) {
  .wrapper-attrs-rol-stat {

    .attrs-rols-stat {

      .stats {

        .stats-list {
          margin-top: 15px;
          justify-content: center;
          gap: 15px;

          .stats-item {
            width: 20%
          }
        }
      }
    }
  }
}
