.special-abil-scepter {
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../../../../img/aghs_scepter.png");
  }

  .special-abil-shard {
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../../../../img/aghs_shard.png");
  }