@import "../../../../styles/variables.scss";

.type-attack {
    font-size: 14px;
    color: $new-abil-color;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;

    .type-attack-value {
      margin-left: 4px;
      color: $text-color-white;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: none;
    }
   }
