$text-color-white: #fff;
$bc-color-filled: #427ed1;
$gray-dark-bc: #4c4c4c;
$gray-light: #ddd;
$silver-green: #9e9fa0;
$black: #000;
$deep-blue: #0003;
$light-gray: #eee;
$scroll-gray: #5c5c5c;
$dark-gray: #505050;
$eclipse: #25282a;
$medium-gray: #555;
$state-gray: #3c4247;
$dark-gray: #4f4f4f;
$title-color-gray: #969696;
$hero-mana: #1056db;
$hero-mana-bc: #73f5fe;
$regeneration-hp: #286323;
$regeneration-hp-bc: #7af03c;
$attribute-text-color: #999;
$start-bc-color: #252728;
$finish-bc-color: #101415;
$border-top-black-color: #282828;
$border-bottom-black-color: #2c2e2e;
$almost-black: #121212;
$new-abil-text-color: #1c2e50;
$new-abil-color: #737373;
$bc-blue-begining: #00a4db;
$bc-blue-end: #007196;
$bc-almost-black: #111;
$pewter-gray: #9f9f9f;
$silver: #aaa;
$linear-gradient-begining: #68727c;
$linear-gradient-end: #14171a;
$midnight: #0a0c0e;
$talents-desc-color: #fffb;
$gold-color: #e7d292;
$sunset-orange: #ff531c;
$bc-level-talent: #222;
$hero-id-gray: #888;
$bc-line-black: #00000060;
$sky-blue: #a5e0f3;
$footer-grat-color: #777;
$color-filter-block: #808fa6;
$gray-button: #8a8a8a;
$gray-style-characteristic: #959595;