@import "../../../../layouts/scssLayout/variablesScss/variablesScss.scss";

.hero-bio-or-hype {
  width: 100%;
  height: 100%;
  min-height: 300px;
  flex-grow: 1;
  position: relative;
  font-family: radiance, "Noto Sans", sans-serif;

  .scroll-style-firefox {
    scrollbar-width: thin; // Устанавливает тонкий скроллбар для Firefox
    scrollbar-color: $scroll-gray $deep-blue; // Устанавливает цвет "бегунка" и фона скроллбара для Firefox
  }

  .wrapper-bio-hero {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 550px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 0 0;
    overflow-y: scroll;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    z-index: 4;

    &::-webkit-scrollbar {
      // это стиль самого скролл бара
      width: 12px;
      border-radius: 10px;
      background-color: $deep-blue;
    }

    &::-webkit-scrollbar-thumb {
      // это стиль для штуки которая передвигается
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 30%);
      background-color: $scroll-gray;
    }

    .bio-hero-text {
      color: $gray-light;
      font-weight: lighter;
      font-size: 20px;
      line-height: 122%;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .hidden-text-bio {
    opacity: 0;
    z-index: 0;
  }

  .wrapper-hype-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;

    .hype-hero-text {
      width: 100%;
      color: $light-gray;
      font-weight: 200;
      font-size: 24px;
      letter-spacing: 0;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 30px;
    }

    .bold {
      font-weight: bold;
    }
  }

  .hidden-text-hype {
    opacity: 0;
  }

  .style-button-toggle-text {
    color: $gray-button;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    align-items: flex-start;
    padding: 0;
    font-family: radiance, "Noto Sans", sans-serif;
    font-size: 18px;
  }

  .wrapper-attack-type {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .wrapper-icon-name {
      display: flex;
      gap: 12px;
    }
    .attack-type {
      color: $text-color-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .title-characteristic {
    color: $gray-style-characteristic;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
  }

  .wrapper-complexity {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;

    .wrapper-complexity-icons {
      display: flex;
      gap: 15px;
      margin-left: 6px;
    }

    .comp-icon {
      width: 15px;
      height: 15px;
      border: 1px solid $text-color-white;
      transform: rotateZ(45deg);
    }

    .active-comp {
      background-color: $text-color-white;
    }
  }
}

@media (max-width: 1300px) {
  .hero-bio-or-hype {
    width: 100%;
    max-height: 100px;
    height: 0;
    min-height: 0;

    .wrapper-hype-hero {
      width: 95%;
    }

    .wrapper-bio-hero,
    .wrapper-attack-type,
    .wrapper-complexity,
    .style-button-toggle-text {
      display: none;
    }
  }
}


@media (max-width: 700px) { 
   .hero-bio-or-hype {
     
    .wrapper-hype-hero {
      .hype-hero-text {
        font-size: 20px;
      }
    }
   }
}