@import "../../scssGlobalStyles/variables/variables.scss";

.header {
  width: 100%;
  position: absolute;
  z-index: 9999;
  left: 0;

  .header__menuList {
    display: flex;
    gap: 25px;
    padding: 30px;
    margin-top: 0;
    align-items: center;

    .menu-link {
      text-transform: uppercase;
      font-family: reaver, serif;
      font-weight: 600;
      letter-spacing: 3px;
      opacity: 0.8;
      color: $text-color-white;
      cursor: pointer;
    }

    .game-logo {
      min-width: 200px;
      height: 50px;
      min-height: 50px;
      opacity: 0.8;
    }

    .gitHub-logo {
      min-width: 50px;
      height: 50px;
      align-self: flex-end;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .header__menuList {
      padding: 20px 10px;
      gap: 10px;
      justify-content: space-between;

      .game-logo {
        min-width: 0;
        width: 150px;
      }
    }
  }
}
