@import "../../scssGlobalStyles/variables/variables.scss";

.footer {
  flex: 0 0 auto;

  .wrapper-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: $black;
    width: 100%;
  }

  .official-info {
    text-align: center;
    font-size: 14px;
    color: $footer-grat-color;
    width: 60%;
    max-width: 500px;
    font-family: radiance, "Noto Sans", sans-serif;
  }
}

.logos {
  display: flex;
  gap: 45px;
}

@media (max-width: 450px) {
  .footer {
    .official-info {
      width: 100%;
    }
  }

  .logos {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
}
