@import "../../../layouts/scssLayout/variablesScss/variablesScss.scss";

.wrapper-tree-of-talents {
  width: 80px;
  height: 80px;
  margin: 0 6px;
  overflow: visible;
  position: relative;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  
  &:hover {
    transform: scale(1.1);
  }

  &:hover .tool-tip {
    display: block;
  }

  .tool-tip {
    transform: translateY(-100%) translateY(-84px) translateX(-210px);
    width: 300px;
    position: absolute;
    filter: drop-shadow(2px 2px 8px $black);
    display: none;

    .tooltip-body {
      width: 500px;
      background-color:  $black;
      clip-path: polygon(
        0 0,
        0 calc(100% - 20px),
        calc(50% - 20px) calc(100% - 20px),
        50% 100%,
        calc(50% + 20px) calc(100% - 20px),
        100% calc(100% - 20px),
        100% 0
      ); // это создание острого угла внизу блок
      min-height: 0;
      display: flex;
      flex-direction: column;
      text-align: left;

      .description-tree-talents {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: linear-gradient(150deg, $linear-gradient-begining, $linear-gradient-end);
        padding: 20px;
        padding-bottom: 40px;

        .title-tree {
          font-family: reaver, serif;
          font-size: 20px;
          text-shadow: 0 0 5px  $black;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          margin: 0;
        }

        .block-of-talent {
          width: 100%;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 0 18px;
          background: linear-gradient(150deg, $state-gray, $midnight);
        }

        .description-talent {
          flex-grow: 1;
          flex-basis: 1px;
          font-family: radiance, sans-serif;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-weight: 400;
          font-size: 13px;
          color: $talents-desc-color;
        }

        .wrapper-level-talent {
          border-radius: 50%;
          padding: 5px;
          background: linear-gradient(325deg, $state-gray, $midnight);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .level-talent {
            min-width: 50px;
            min-height: 50px;
            border-radius: 50%;
            background: $bc-level-talent;
            font-size: 20px;
            font-family: reaver, serif;
            font-weight: bold;
            letter-spacing: 2px;
            color: $gold-color;
            text-shadow: 0 0 8px $sunset-orange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
