@import "../variables/variables";
%style_filter_names {
    color: $color-filter-block;
    font-size: 1.0625rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: radiance,"Noto Sans",sans-serif;
}

%wrapper_filters_styles {
    display: flex;
    gap: 20px;
    align-items: center;
}

%style-icon-filter {
    width: 44px;
    height: 34px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: filter;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    cursor: pointer;
    color: $text-color-white;
    filter: brightness(0.5) saturate(0);
    background-color: transparent;
    border: none;
}