@import "/src//layouts/scssLayout/variablesScss/variablesScss.scss";

@font-face {
  font-family: reaver; /* Изменено на строчные */
  src: local(reaver), url("./fonts/Reaver-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: radiance; /* Изменено на строчные */
  src: local(radiance), url("./fonts/radiance.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  color: $text-color-white;
  font-family: reaver, serif; /* Изменено */
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  height: 100%;
}

ul {
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
